AI_INSTRUCTION
runtime/*
!runtime/frontend/
!runtime/frontend/**
!runtime/frontend/assets/
!runtime/frontend/assets/**
!runtime/selector/
!runtime/selector/**
!runtime/workflow/
!runtime/workflow/**
frontend/dist
frontend/node_modules
.claude
simple-comfyui

