AI_INSTRUCTION
runtime
!runtime/
runtime/*
!runtime/frontend/
!runtime/frontend/**
!runtime/selector/
!runtime/selector/**
!runtime/workflow/
!runtime/workflow/**
frontend/dist
frontend/node_modules
.claude
simple-comfyui
